@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots');

body {
  background-color: #800000;
}
h1 {
  font-family: 'Raleway Dots', cursive;
  font-size: 300px;
}
h2 {
  font-family: 'Raleway Dots', cursive;
  font-size: 300px;
}
p { 
  top-padding: 10px;
  font-family: 'Raleway Dots', cursive;

}

