body {
  background-color: #F9DDFF;
  text-align: center; 
  font-family: 'Raleway Dots', light;
}

h1 {
  font-family: 'Raleway Dots', light;
  font-size: 100px;
  text-align: center; 
}

h2 {
  text-align: center;
  font-family: 'Raleway Dots', light;
  font-size: 100px;
}

p { 
  font-family: 'Raleway Dots', light;
  text-align: center;
  padding-top: 14px; 
}

img {
  padding-top: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat|Arapey:400italic);

.btn-container {
  padding: 0;
}

.the-btn {
  border: 1px solid #fff;
  background: transparent;
  display: block;
  font-style: normal;
  margin: 0 auto;
  overflow: hidden;
  padding: .3em;
  position: relative;
  text-decoration: none;
  transition: 2s ease;
  -webkit-transition: 2s ease;
  width: 17.6em;
}

.the-btn:hover {
  background: #b89555;
  transition: 2s ease;
  -webkit-transition: 2s ease;
}

.the-btn h3 {
  line-height: 1.2em;
}
    
.btn-content {
  background: #fff;
  display: block;
  font-size: .875rem;
  padding: .8em 2em 1em;
  text-align: center;
}
	
.btn-line-1 {
  color: #424242;
  font-family: 'Arapey', 'serif';
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1em;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}
	
.btn-line-2 {
  color: #b89555;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .2em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}




/* Start Background Example to Show White Border - Don't Include This */
body {
background-color: #FBF1EC;
}
/* End Background Example to Show White Border - Don't Include This*/
